/* ------------------------------------Custom Fonts------------------------------------- */
@font-face{
  font-family: 'Red Hat';
  src: url('/font/red-hat/RedHatDisplay-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Red Hat';
  src: url('/font/red-hat/RedHatDisplay-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/*------------------------------------- Globals------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 100%;
}
/*----------------------------------Overlay-Styles-----------------------------------------*/
#overlay{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.95;
}

#confirm_modal{
  width: 18.4rem;
  height: 22.2rem;
  background-color: white;
  opacity: 1;
  text-align: center;
  padding: 0.9rem;
  font-size: 1rem;
  /* border-top-left-radius: 20px;
  border-bottom-right-radius: 20px; */
  border-radius: 30px 0px;
  color: rgb(87, 83, 83);
}
.confirm_modal_anime{
  animation: hideModal 400ms ease-in-out forwards ;
}
#confirm_modal>h1{
  font-size: 1.6rem;
  padding: 0.5rem 0rem;
}
#confirm_modal>h3{
  font-size: 1.1rem;
  padding: 1rem 0rem;
}
#confirm_modal>small{
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  margin-top: 0.875rem;
}
#confirm_modal>button{
  margin: .5rem 0rem;
  padding: 0.65rem 1rem;
  background-color: rgba(0, 102, 255, 0.884);
  color: white;
  border: none;
  transition: cursor 500ms ease-in-out;
}
#confirm_modal>button:hover{
  cursor: pointer;
}

@media screen and (min-width: 760px){
  #confirm_modal{
    width: 24.7rem;
    height: 19rem;
  }
}

@keyframes hideModal {
  50%{
   opacity: 0.45;
  }

  to{
    opacity: 0;
    visibility: hidden;

  }
}



/* ----------------------------------element specific styles ---------------------------- */

body {
  width: 100%;
  height: 100vh;
  background: rgb(21, 19, 56);
  background: linear-gradient(
    90deg,
    rgba(21, 19, 56, 1) 0%,
    rgba(18, 40, 74, 1) 89%
  );
  font-family: Helvetica, sans-serif;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  /* border: 1px solid red; */
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 95%;
}
header > h1 {
  font-family: 'Red Hat';
  letter-spacing: 0.125rem;
  word-spacing: 0.25rem;
  font-size: 1.9em;
  font-weight: 700;
  margin: 0;
}
hr {
  width: 6.5875rem;
  height: 0.4375rem;
  margin: 0.3125rem 0px;
  background-color: rgb(238, 255, 7);
  border: 0.0625rem solid yellow;
  border-radius: 1.25rem;
}
header > h3 {
  letter-spacing: 0.125rem;
  word-spacing: 0.125rem;
  font-size: 1.6em;
  font-weight: 700;
  margin: 0.3125rem 0;
}
small {
  letter-spacing: 0.125rem;
  padding: 0.3125rem;
}
header > p {
  margin: 0.125rem;
  letter-spacing: 0.0625rem;
}

/* ------------------------------------harmburger styles--------------------------------------------- */

.controls {
  position: absolute;
  right: 0px;
  top: 1.15rem;
  width: 1.775rem;
  height: 1.4375rem;
  font-size: 1.875rem;
  /* border: 1px solid red;   */
   overflow-y: hidden;
  
}
.controls:hover{
    cursor: pointer;
}
.ct--animate{
    animation: ctanime 200ms linear forwards;
}

.controls .fas{
    padding-top: 1.25rem;
    font-size: 1.4rem;
}

@keyframes ctanime{
    from{
        height: 1.875rem;

    }
    to{
        height: 4.6875rem;
        
   
        
    }
}

.harmburger--show span,
.harmburger--toggle span {
  display: block;
  width: 1.625rem;
  height: 0.125rem;
  border-bottom: 0.1875rem solid white;
  animation: fade-out 200ms ease-in-out forwards;
}
.harmburger--show span:not(:last-child) {
  margin-bottom: 0.25rem;
}
.harmburger--show span:nth-child(1) {
  animation: fade-out-1 200ms ease-in-out forwards;
}
.harmburger--show span:nth-child(2) {
  animation: fade-out-2 200ms ease-in-out forwards;
}
.harmburger--show span:nth-child(3) {
  animation: fade-out-3 200ms ease-in-out forwards;
}
.harmburger--toggle span:nth-child(1) {
  animation: fade-in-1 200ms ease-in-out forwards;
}
.harmburger--toggle span:nth-child(2) {
  animation: fade-in-2 200ms ease-in-out forwards;
}
.harmburger--toggle span:nth-child(3) {
  /* transform: rotate(-53deg);
  transform-origin: 20% 13%; */
  animation: fade-in-3 200ms ease-in-out forwards;
}

/* ----------------------------------------KeyFrames for animation------------------- ----------------*/
@keyframes fade-out-1 {
  from {
    margin-top:11px;
    transform: rotate(45deg);
    transform-origin: 40% 0%;
  }
  to {
    margin-top: 0;
    transform: rotate(0deg);
    transform-origin: center;
  }
}

@keyframes fade-out-2 {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
  }

@keyframes fade-out-3 {
  from {
    transform: rotate(-45deg);
    transform-origin: 18% 70%;
  }
  to {
    transform: rotate(0deg);
    transform-origin: center;
  }
}

@keyframes fade-in-1 {
  to {
    margin-top:11px;
    transform: rotate(45deg);
    transform-origin: 40% 0%;
  }
}

@keyframes fade-in-2 {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-in-3 {
  to {
    transform: rotate(-45deg);
    transform-origin: 18% 70%;
  }
}

main {
  /* border: 1px solid orange; */
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.25rem;
}
.gameBtn {
  width: 30%;
  height: 14.6vh;
  background: inherit;
  margin: 0;
  color: white;
  font-size: 2.1em;
  font-weight: bold;
}
.gameBtn:hover {
  cursor: pointer;
}
.rtBtm {
  border: none;
  border-right: 3px solid rgb(0, 119, 255);
  border-bottom: 3px solid rgb(0, 119, 255);
}
.mid {
  border: none;
  border-bottom: 3px solid rgb(0, 119, 255);
}
.ltBtm {
  border: none;
  border-left: 3px solid rgb(0, 119, 255);
  border-bottom: 3px solid rgb(0, 119, 255);
}
.edgeBtm {
  border-bottom: none;
}
footer {
  width: 20%;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
#startBtn,
#resetBtn {
  width: 58px;
  height: 58px;
  color: white;
  text-shadow: 1px 1px grey, -1px 1px gray, 1px -1px grey, -1px -1px grey;
  font-size: 1.9375rem;
  border: none;
  border-radius: 50%;
  background-color: rgb(238, 255, 7);
  font-weight: 600;
  letter-spacing: 0.125rem;
  font-family: Helvetica, sans-serif;
  transition: all 400ms linear;
}

#startBtn:hover,
#resetBtn:hover {
  cursor: pointer;
}

#startBtn:active,
#resetBtn:active {
  transform: scale(0.73);
}

/*-----------------------------------------------Media Queries---------------------------------------------*/

@media only screen and (min-width: 620px){
main{
  width: 65%;
}
footer{
  display: flex;
  justify-content: center;
}
}

@media only screen and (min-width: 796px){
  main{
    width: 50%;
  }
  header>h1{
    font-size: 2.4em;
  }
 
  }

  @media only screen and (min-width: 1067px){
    main{
     width:44%;
    }
    header>h1{
      font-size: 2.9em;
    }   

    header>h3{
      font-size: 1.7em;
    }
  
  }
  @media only screen and (min-width: 1023px){
    main{
      width: 35%;
    }
  }
